
.contexto{
    width: auto;
    height: auto;
    border: 2px lightblue solid;
    margin-left: 7%;
    margin-right: 7%;
}

.contexto h1{
    font-size: 55px;
    display: flex;
    justify-content: space-around;
}

.contexto p{
    font-size: 21px;
    margin-left: 5%;
    margin-right: 5%;
}


.jogos{
    display: grid;
}

.caixa_mine{
    width: 20%;
    height: 520px;
    border: black solid;
    margin-left: 7%;
    margin-top: 3%;

}

.caixa_mine img{
    width: 100%;
    height: 100%;
}


.caixa_subnautica{
    width: 20%;
    height: 520px;
    border: black solid;
    margin-left: 7%;
    margin-top: 3%;

}

.caixa_subnautica img{
    width: 100%;
    height: 100%;
}


.caixa_spore{
    width: 20%;
    height: 520px;
    border: black solid;
    margin-left: 7%;
    margin-top: 3%;

}

.caixa_spore img{
    width: 100%;
    height: 100%;
}


.caixa_astroneer{
    width: 20%;
    height: 520px;
    border: black solid;
    margin-left: 7%;
    margin-top: 3%;

}

.caixa_astroneer img{
    width: 100%;
    height: 100%;
}