
.contexto{
    width: auto;
    height: auto;
    border: 2px lightblue solid;
    margin-left: 7%;
    margin-right: 7%;
}

.contexto h1{
    font-size: 55px;
    display: flex;
    justify-content: space-around;
}

.contexto p{
    font-size: 21px;
    margin-left: 5%;
    margin-right: 5%;
}